p {
    color : #E4B5AB;
}

h1, h2 {
    color : red;
}
.ma-classe {
    color : blueviolet;
    font-size: 70px;
            
}
.big-letters {
    font-size: 30px;
}

.banniere {
    font-weight: 900;
    text-align: center;
    padding : 100px;
    background-image : url(/partie_html/image_web/img-pirate-ship.jpg) ;
}
body {

    background: linear-gradient(90deg, #8360c3, #2ebf91);
    font-family: Arial, Helvetica, sans-serif, white;
    text-align: center;
}